.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

.eslintcache
.env
.env.test

tmp

# TS
tsconfig.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/e2e/screenshots